#bd1 {
    background-image: url(https://images.unsplash.com/photo-1627494780152-556b5ba92694?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    font-weight: 900 !important;
    font-size: 30px !important;
}
#bar1{
    width: 30% !important;
    min-width: 300px;
    margin: 5px;
}
#bar2{
    width: 60% !important;
    min-width: 300px;
    margin: 5px;
}
.carousel-item{
    height: 400px;
}
#head{
    margin: 20px 30px;
}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#content div{
    margin: 10px;
}
div#btn {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#btn button {
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    font-weight: 600;
}
ul.nav.justify-content-center.ful {
    justify-content: space-evenly !important;
}

nav.navbar.navbar-light.fdiv {
    justify-content: flex-end !important;
}
#ul1{
    margin: 0% 0% 0% 0%;
}
#ul1 li{
    margin: 5px;
}
.form1{
    margin: 10px auto;
    position: absolute;
    left: 3%;
    top: 30%;
    width: 45%;
    border-color: gray;
    color: white;
    border-radius: 10px;
    background-color: #a70600;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 7px;
}
.form2{
    margin: 10px auto;
    position: absolute;
    right: 3%;
    top: 30%;
    width: 45%;
    background-color: rgb(167 6 0);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 7px;
    border-radius: 10px;
}
form.d-flex {
    width: 82% !important;
    flex-wrap: wrap;
    margin: 0 50px 0 0;
}
#content>div {
    box-shadow: 0px 0px 10px -2px;
}
h2 {
    align-self: center;
    margin: 10px;
}